<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning part 1</td> <td> <a href="https://github.com/UofTCoders/2018-06-18-utoronto/blob/gh-pages/code/1-programmatic-data-analyses.ipynb">Intro to programming in Python</a></td></tr>
      <tr><td>Morning part 2</td> <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data organization and cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://github.com/UofTCoders/2018-06-18-utoronto/blob/gh-pages/code/2-data-analysis-in-python.ipynb">Introduction to Python for data analysis</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="http://www.datacarpentry.org/python-ecology-lesson/">Data analysis and visualization in Python</a></td></tr>
      <tr> <td>Afternoon</td><td>Tips and tricks in Python</td></tr>
      <tr>
	<td> </td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>

    </table>
  </div>
</div>
